div#container {
	width: 100%;
	height: 100%;
	position: fixed; 
	overflow: hidden;
	background-color: #1F1F1F;
}

div#content {
	margin-left: 300px;
    height: 100%;
	color: white;
}

div#header {
	font-family: 'Montserrat', serif;
	font-size: 20px;
	margin: -50 -50 0 -50;
	padding: 40 20 40 0; 
	text-align: center; 
	background-color: #33aabb;
	color:white;
}

p#titulo{
	font-size: 35px;
	padding-top: 50px;
}

div#datos {
	font-family: 'Montserrat', serif;
	font-size: 25px;
	position: relative;
	top: 100px;
	left: 100px;
}

.button {
    font-family: 'Montserrat', serif;
    height:50px; 
	width:170px; 
	font-size:15px; 
	background-color: #33AABB; 
	color: white;
	border-width: 0px;
	position: relative;
	top: 200px;
	left: 100px;
}

.button:hover {
   	font-family: 'Montserrat', serif;
	height:50px; 
	width:170px; 
	font-size:15px; 
	background-color: white; 
	color: #33AABB;
	border-width: 0px;
}

div#imagenPerfil{
	float: left;
	padding: 70px 10px 20px 400px;
}