.fondo{
	margin: 0;
	background-color:black;
}

div#container {
	width: 100%;
	height: 100%;
	position: fixed; 
	overflow: scroll;
	background-color: #1F1F1F;
}

div#header {
	font-family: 'Montserrat', serif;
	text-align: center; 
	font-size: 45px;
	margin:0px auto;
	margin-left: 20%;
	border:1px solid #33AABB;
	background-color: #33AABB; 
	color:#FFFFFF;
}

.centerTitulos{
	text-align: center;
	color: white;
	font-family: 'Montserrat', serif;
	font-size: 25pt;
	padding: 35px 45px 35px 170px;
}

.listas{
	color: white;
	margin-top: 90px;
	margin-left: 500px;
	margin-right: 400px;
	padding: 25px 45px 35px 140px;
	font-size: 14pt;
}

.LiItem{
	font-family: 'Montserrat', serif;
	padding: 8px 8px 18px 16px;
}

.LiItemA{
	display: block;
	color: white;
	padding: 8px 8px 8px 4px;
	text-decoration: none;
}


li a:hover {
	background-color: #555;
	color: #33aabb;
}